<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body>
<center>

<div id="header">
 <div id="content">
    <label></label>
    </div>
</div>
<div id="body">
 <div id="content">
    <form method="post" action="createdata.php">
    <table align="center">
    <tr>
    <td align="center"><a href="read.php">Halaman Utama</a></td>
    </tr>
    <tr>
    <td><input type="text" name="first_name" placeholder="Nama Depan" required /></td>
    </tr>
    <tr>
    <td><input type="text" name="last_name" placeholder="Nama Belakang" required /></td>
    </tr>
    <tr>
    <td><input type="text" name="city_name" placeholder="Kota" required /></td>
    </tr>
    <tr>
    <td><button type="submit" name="btn-save"><strong>Simpan</strong></button></td>
    </tr>
    </table>
    </form>
    </div>
</div>

</center>
</body>